@section('js_pos')
    <script type="text/babel">
        const App = () => {
            return (
                <Card title="Danh sách liên hệ">

                </Card>
            )
        }
    </script>
@stop
